node-red/data/flows.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "IoT MQTT -> PostgreSQL",
        "disabled": false,
        "info": "Subscribes to all 3 device topics and inserts into temperature_data"
    },
    {
        "id": "mqtt-broker-config",
        "type": "mqtt-broker",
        "name": "Mosquitto (Docker)",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "postgres-config",
        "type": "postgreSQLConfig",
        "name": "sensor_db (Docker)",
        "host": "postgres",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "sensor_db",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str"
    },
    {
        "id": "mqtt-in-node",
        "type": "mqtt in",
        "z": "flow1",
        "name": "MQTT All Devices",
        "topic": "sensor/+/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "function-node"
            ]
        ]
    },
    {
        "id": "function-node",
        "type": "function",
        "z": "flow1",
        "name": "Parse & Build SQL",
        "func": "let data = msg.payload;\n\nif (typeof data === 'string') {\n    data = JSON.parse(data);\n}\n\nlet temperature = Number(data.temperature);\nlet topicParts = msg.topic.split('/');\nlet device_id = topicParts[1];\n\nmsg.queryParameters = {\n    device_id: device_id,\n    temperature: temperature\n};\n\nmsg.payload = {\n    device_id: device_id,\n    temperature: temperature\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "postgres-node",
                "debug-node"
            ]
        ]
    },
    {
        "id": "postgres-node",
        "type": "postgresql",
        "z": "flow1",
        "query": "INSERT INTO temperature_data (device_id, temperature) VALUES ($device_id, $temperature);",
        "postgreSQLConfig": "postgres-config",
        "name": "Insert temperature_data",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "debug-node",
        "type": "debug",
        "z": "flow1",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    }
]
